<div class="container">

  <div class="h-100 d-flex align-items-center justify-content-center">
    <h1>COMUNICACION HTTP</h1>
  </div>

  <div class="h-100 d-grid align-items-center">
    <p>
      La <span>comunicación</span> entre la aplicación y el cubo XEMOS se lleva a cabo mediante <span>HTTP</span>, utilizando un <span>servidor JSON implementado con Node.js</span>. <br><br>
      Una vez el cubo manda los datos, la <span>aplicación envía solicitudes HTTP</span> al servidor, <span>solicitando los datos almacenados</span>. <br><br>
      El servidor procesa estas solicitudes y responde con los datos solicitados en formato JSON, que luego son interpretados y visualizados por la aplicación para brindar al usuario una experiencia de monitoreo en tiempo real.
    </p>
  </div>
  <div class="h-100 d-flex align-items-end justify-content-around">
    <img src="../../../assets/images/xemos-assets/assets/schemalIcons/xemos-conecction-6.png">
  </div>

</div>

