#sos{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: #d60416;
}

#iconSOS{
    margin-right: 5px;
}