<div class="container">

  <div class="h-100 d-flex align-items-center justify-content-center">
    <h1>XEMOS - ESP32 T7 S3</h1>
  </div>

  <div class="h-100 d-grid align-items-center">
    <p>
      El prototipo anterior se trata de un <span>modelo de pruebas</span>, ya que para que sea móvil requiere de ser <span>inalámbrico</span>,
      mientras que nuestro modelo de pruebas <span>aún es alámbrico</span>.
      <br><br>
      La idea principal sería <span>crear</span> un modelo totalmente móvil,
      el cuál funcionará con un modelo de ESP32 con una arquitectura diferente al que actual usamos,
      el cuál nos ofrece la <span>posibilidad de alimentarlo mediante baterías</span> .
      <br><br>
      Este se denomina <span>LYLIGO T7 S3</span>.
    </p>
  </div>
  <div class="d-flex justify-content-center align-items-center h-100">
    <img src="../../../assets/images/xemos-assets/assets/schemalIcons/esp32logo.png">
    <img src="../../../assets/images/xemos-assets/assets/schemalIcons/battery.png">
  </div>
</div>


