<div class="container">

  <div class="h-100 d-flex flex-column align-items-center justify-content-center">
    <h1>XEMOS</h1>
    <h5>Cubic Health and Environmental Monitoring System</h5>
  </div>

  <div class="h-100 d-grid align-items-center">
    <p>Dispositivo llamado <span>"XEMOS"</span>: cubo de salud y monitoreo ambiental para evitar malestares por mala calidad del aire y fluctuaciones en pulsaciones.
      <br><br><span>XEMOS</span>: dispositivo compacto y móvil que brinda mediciones en tiempo real, con datos visualizables en app móvil.
  </p>
  <p><span>Ausencia de medición</span> de calidad del aire y pulsaciones puede causar <span>fiebre</span>, <span>dolor de cabeza</span> y <span>enfermedades relacionadas con exposición a temperaturas extremas</span> o <span>pulsaciones anormales</span>.
  </p>
  
  </div>
  <div class="d-flex justify-content-center align-items-center miniSchema">
    <div class="human1"></div>
    <div class="human2"></div>
    <div class="human3"></div>
    <div class="human4"></div>
  </div>
  <div></div>
</div>

<div class="backIMG">

</div>


