<div class="container">

  <div class="h-100 d-flex align-items-center justify-content-center">
    <h1>Entornos de uso</h1>
  </div>

  <div class="h-100 d-grid align-items-center">
    <p><span id="xemos">XEMOS</span>: garantiza <span>entornos cómodos y saludables en hospitales y hogares</span>.
      <br><br>Previniendo enfermedades y <span>promoviendo una estancia adecuada</span>. Proporciona <span>tranquilidad</span> al mantener un entorno controlado durante la recuperación, asegurando una atención efectiva y continua para los pacientes.
  </p>
  
    
  </div>
  <div class="spainSchema">
  </div>
</div>




