<div class="container">

  <div class="h-100 d-flex align-items-center justify-content-center">
    <h1>Presupuesto</h1>
  </div>

  <div class="h-100 d-grid align-items-center justify-content-center">
    <p>
      A continuación mostramos el presupuesto aproximado de nuestro proyecto.
    </p>
    <table class="text-center">
      <tr>
        <th>
          Microcontrolador - ESP32
        </th>
        <th>
          Sensores
        </th>
        <th>
          Modelo impreso 3D
        </th>
        <th>
          Shields x3
        </th>
        <th>
          Pantallas OLED x3
        </th>
        <th class="total">
          Total
        </th>
      </tr>
      <tr>
        <td>
          12 €
        </td>
        <td>
          10 €
        </td>
        <td>
          20 €
        </td>
        <td>
          6 €
        </td>
        <td>
          6 €
        </td>
        <td class="total">
          54 €
        </td>
      </tr>
    </table>
  </div>
  <div></div>
</div>


