
<div class="container">
  <div class="h-100 d-flex align-items-center justify-content-center">
    <h1>XEMOS - ESP32</h1>
  </div>
  <div class="h-100 d-grid align-items-center">
    <p>
      Usaremos un chip llamado <span>ESP32</span> como el <span>cerebro de nuestro cubo</span>.
      <br><br>
      El <span>ESP32</span> es como un pequeño cerebro <span>económico</span> que viene con Wi-Fi y Bluetooth.
      <br>
      Es muy poderoso y <span>puedes hacer muchas cosas con él</span>.
      <br>
      Además, es <span>fácil de programar</span> y puedes usarlo con diferentes programas para crear lo que quieras.
    </p>

  
  </div>
  <div class="w-100 d-flex justify-content-center">
    <canvas id="canvas-box" ></canvas>
  </div>

</div>




