
<div class="container">
  <div class="h-100 d-flex align-items-center justify-content-center">
    <h1>XEMOS - ESP32</h1>
  </div>
  <div class="h-100 d-grid align-items-center">
    <p>
      Haremos uso del microcontrolador <span>ESP32</span> como <span>núcleo de nuestro proyecto</span>.
      <br><br>
      El <span>ESP32</span> es bastante <span>económico</span> y tiene incorporado Wi-Fi y BlueTooth.
      <br>
      Es muy potente y <span>sus posibilidades son muy amplias</span>.
      <br>
      Además, es <span>fácil de programar</span> y acepta varios lenguajes de programación.
    </p>

  
  </div>
  <div class="w-100 d-flex justify-content-center">
    <canvas id="canvas-box" ></canvas>
  </div>

</div>




