<div class="container">

  <div class="h-100 d-flex align-items-center justify-content-center">
    <h1>APP MOVIL - FUNCIONAMIENTO</h1>
  </div>

  <div class="separator">
    <div class="h-100 d-grid align-items-center">
      <p>
        La <span>aplicación</span> XEMOS es fácil de usar y muestra datos importantes en tiempo real. <br><br>
        Cuando abres la aplicación, puedes ver un <span>resumen de los datos clave</span> como la temperatura, humedad, calidad del aire y pulsaciones del corazón. 
        <br><br>Además, la aplicación tiene <span>gráficos simples</span> que muestran cómo cambian estos datos con el tiempo, lo que te ayuda a controlar tu entorno y tomar las medidas necesarias.
    </p>

    </div>
    <div class="separator-img"><img src="./../../../assets/images/xemos-assets/assets/xemos-app-mockup-3.png"></div>
  </div>
  <div></div>
</div>

<div class="backIMG"></div>

