*
{
  color: white;

}

h1
{
  font-weight: bolder;
}

.container
{
  //border: 2px solid red;
  width: 90vw;
  height: 90vh;
  display: grid;
  grid-template-rows: 25% 60% 15%;
  justify-content: center;
  align-items: center;
}

.separator
{
  display: grid;
  grid-template-columns: 82% auto;
  align-items: center;
}

.separator-img
{
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.separator-img img{
    height: 60vh;
    width: auto;
}

p
{
  font-size: 2vw;
  font-weight: lighter;
}

.backIMG
{
  background-image: url("../../../assets/images/xemos-assets/assets/xemos.svg");
  background-size: 40%;
  background-repeat: no-repeat;
  opacity: 0.1;
  background-position: center;

  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

span
{
  font-weight: bold;
}
