<div id="container-register">
  <div class="register_form">
    <h2 id="title-register"><strong>Registration Confirmation</strong></h2>
    <p>An email has been sent to your email address. Please follow the instructions in the email to confirm your registration. Check your spam inbox</p>
    <div id="btn-register">
      <button (click)="resendConfirmationEmail()"  class="btn-resend">Resend Email</button>
      <button (click)="confirmEmail()" class="btn-confirm">I have confirmed my email</button>
    </div>
  </div>
</div>
