#container-register {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(213, 226, 231);
    color: black;
  }
  
  #title-register {
    font-size: larger;
  }
  
  #btn-register {
    display: flex;
    width: 100%;
    margin-top: 20px;
    text-align: center;
    justify-content: center;
    gap: 30px;
  }

  .btn-resend{
    padding: 5px;
  }

  .btn-confirm{
    padding: 5px;
  }
  
  input {
    background-color: whitesmoke;
    border: 0px;
    height: 30px;
  }
  
  #btn-register button {
    border-radius: 8px;
    background-color: rgb(58, 58, 58);
    color: white;

  }
  
  #btn-register button:active {
    background-color: rgb(177, 177, 177);
    color: black;
    border: 1px solid rgb(31, 65, 94);
  }
  
  .fields {
    display: flex;
    border-bottom: 1px solid black;
  }
  
  .fields i {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    width: 15%;
  }
  
  .fields input {
    width: 85%;
  }
  
  #login {
    padding-top: 20px;
  }
  
  .fields.is-valid {
    border-color: #28a745;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .fields.is-invalid {
    border-color: #dc3545;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .error-message {
    color: red;
    margin-top: 5px;
    font-size: 0.8em;
  }
  
  .field-container {
    margin-bottom: 15px;
  }
  
  .register_form {
    max-width: 250px;
  }
  