.loading-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgb(213, 226, 231);
}

.loading{
  font-family: 'Quicksand-SemiBold';
}

.trash-container {
  position: relative;
  width: 100px; /* Ajusta el tamaño según necesites */
  height: 100px; /* Ajusta el tamaño según necesites */
}

.fa-user {
  position: absolute;
  top: 5px; /* Mitad del contenedor menos la mitad del tamaño del icono */
  left: 100px; /* Mitad del contenedor menos la mitad del tamaño del icono */
  transform: translate(-50%, -50%);
  animation: trashAnimation 3s ease-in-out infinite; /* Repetir indefinidamente */
  color: #888;
}

@keyframes trashAnimation {
  0% { 
    transform: translateX(0) translateY(-8px) rotate(0deg); /* Posición inicial más arriba */
  }
  50% { 
    transform: translateX(-30px) translateY(9px) rotate(-23deg); /* Bajar y rotar */
  }
  100% { 
    transform: translateX(-60px) translateY(25px) rotate(-45deg); /* Volver a la posición inicial con rotación */
  }
}





