<div class="container">
  <div class="profile-header">
    <strong>Profile</strong>
  </div>
  <div class="profile-content">
    <ul class="profile-list">
      <li>
        <label>Username:</label>
        <span>{{ user.fullName }}</span>
      </li>
      <li>
        <label>Email:</label>
        <span>{{ user.email }}</span>
      </li>
    </ul>

    <!-- Formulario para actualizar el correo electrónico -->
    <form [formGroup]="emailForm" class="profile-form" (ngSubmit)="updateEmail()">
      <div class="form-group">
        <label for="newEmail">New Email</label>
        <input formControlName="newEmail" type="email" id="newEmail" placeholder="New Email">
        <div *ngIf="emailForm.controls['newEmail'].invalid && emailForm.controls['newEmail'].touched" class="error-message">
          Please enter a valid email address<br>
        </div>
        <!-- Mostrar mensaje de error si el correo electrónico ya existe -->
        <div *ngIf="emailExists" class="error-message">
          Email already exists
        </div>
        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="emailForm.invalid">Update Email</button>
    </form>
    

    <!-- Formulario para actualizar la contraseña -->
    <form [formGroup]="passwordForm" class="profile-form" (ngSubmit)="updatePassword()">
      <div class="form-group">
        <label for="newPassword">New Password</label>
        <div class="eye-password">
          <i class="fas" [ngClass]="{'fa-eye-slash': hidePassword, 'fa-eye': !hidePassword}" (click)="togglePasswordVisibility()"></i>
          <input formControlName="newPassword" type="{{ hidePassword ? 'password' : 'text' }}" id="newPassword" placeholder="New Password">
        </div>
        <div *ngIf="passwordForm.controls['newPassword'].invalid && passwordForm.controls['newPassword'].touched" class="error-message">
          Password must be at least 8 characters long <br>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="passwordForm.invalid">Update Password</button>
    </form>
    

    <div class="buttons-profile">
      <button class="btn btn-danger" (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
        Logout
      </button>
      <button class="btn btn-danger" (click)="deleteAccount()">
        Delete Account
      </button>
      <div *ngIf="confirmDelete" class="confirmation-message">
        <p>Are you sure you want to delete your account?</p>
        <button class="btn btn-danger" (click)="confirmDeleteAccount()">Confirmar</button>
        <button class="btn btn-secondary" (click)="cancelDelete()">Cancelar</button>
      </div>
    </div>
  </div>
</div>
