<div class="container">

  <div class="h-100 d-flex align-items-center justify-content-center">
    <h1>XEMOS - SENSORES</h1>
  </div>

  <div class="h-100 d-grid align-items-center">
    <p>
      XEMOS utiliza <span>sensores</span> para medir la calidad del aire, temperatura y humedad, así como para monitorear las pulsaciones del usuario, todo conectado mediante tecnología de <span>bus I2C</span>.
    </p>

  </div>
  <div class="h-100 d-flex align-items-center justify-content-around">
    <img src="../../../assets/images/xemos-assets/assets/schemalIcons/ens.png">
    <img src="../../../assets/images/xemos-assets/assets/schemalIcons/multi.png">
    <img src="../../../assets/images/xemos-assets/assets/schemalIcons/heartsensor.png">
  </div>

</div>




