<div class="container">

  <div class="h-100 d-flex align-items-center justify-content-center">
    <h1>ConfigApp Angular - Estado</h1>
  </div>

  <div class="h-100 d-grid align-items-center">
    <p>
      Una vez introducidas las credenciales <span>correctamente</span>, podremos acceder al apartado <span>"Estado"</span>, donde,
      <span>pulsando los botones de la terminal</span>, podremos visualizar sus pulsaciones en una <span>representación gráfica</span> de nuestra terminal.
    </p>
  </div>
  <div class="h-100 d-flex align-items-center justify-content-around">
    <img src="../../../assets/images/configApp/capp-2.png">
  </div>

</div>
