
<div class="container">
  <div class="h-100 d-flex align-items-center justify-content-center">
    <h1>UCR - Prototype Test</h1>
  </div>
  <div class="h-100 d-grid align-items-center">
    <p>
      Se ha diseñado una <span>carcasa</span> semejante al dispositivo real, la cual
      contendrá en su interior el microcontrolador.
      <br>
      Para <span>realizar la acción de alarma</span>, tendrá <span>conectado un botón</span> que estará situado en la parte frontal del dispositivo.
    </p>
    <p>
      Una vez el botón sea pulsado, la alarma será enviada a nuestra <span>terminal</span>, la cuál se encargará de <span>reenviarla</span>
      a nuestro <span>servidor principal</span>, pudiendo ser recibida por la <span>aplicación web de teleasistencia</span> y siendo entonces
      <span>atendida por un teleoperador</span> dado de alta en el sistema de teleasitencia.
    </p>
  </div>
  <div class="w-100 d-flex justify-content-center">
    <canvas id="canvas-box" ></canvas>
  </div>

</div>



