@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@600&family=Vidaloka&display=swap');div


.cabeceras
{
  display: flex;
  padding: 2vw;
  justify-content: space-between;
}

p
{
  font-family: 'League Spartan', sans-serif;
  letter-spacing: 0.2vw;
  font-size: 1em;
  color: white;
  width: max-content;
}

#v
{
  width: 20%;
}

#daw
{
  width: 30%;
}
