<div class="container">

  <div class="h-100 d-flex align-items-center justify-content-center">
    <h1>- Presupuesto -</h1>
  </div>

  <div class="h-100 d-grid align-items-center justify-content-center">
    <p>
      El presupuesto para uno de estos dispositivos es <span>relativamente bajo</span>, es por esto por lo que podemos decir que <span>nuestro proyecto está al alcance</span>
      de <span>aquellos centros que hoy en día no disponen de los recursos necesarios para obtener los sistemas disponibles</span>, los cuáles son de precio elevado,
      poco acceso y complicado uso.
    </p>
    <table class="text-center">
      <tr>
        <th>
          Terminal
        </th>
        <th>
          ESP32
        </th>
        <th>
          Wires - Components
        </th>
        <th>
          3D Print Case
        </th>
        <th class="total">
          Total
        </th>
      </tr>
      <tr>
        <td>
          50-80 €
        </td>
        <td>
          10 €
        </td>
        <td>
          10 €
        </td>
        <td>
          20 €
        </td>
        <td class="total">
          120 €
        </td>
      </tr>
    </table>
  </div>
  <div class="microLog"></div>
</div>


