<div class="container">

  <div class="h-100 d-flex align-items-center justify-content-center">
    <h1>Objetivos de Desarrollo Sostenible - ODS</h1>
  </div>

  <div class="h-100 d-flex align-items-center">
    <img src="../../../assets/images/ods/ods9.png">
    <p><span>Industria, Innovación e Infraestructura - ODS 9</span>
      <br>
      La teleasistencia domiciliaria requiere infraestructuras y tecnologías avanzadas para su implementación y puede fomentar la innovación en la atención médica.
    </p>
  </div>
  <div class="h-100 d-flex align-items-center">
    <img src="../../../assets/images/ods/ods3.png">
    <p><span>Salud y Bienestar - ODS 3</span>
      <br>
      La teleasistencia domiciliaria puede mejorar el acceso a la atención médica y la monitorización de pacientes crónicos o ancianos en sus hogares, lo que puede mejorar su calidad de vida y reducir la necesidad de hospitalización.
    </p>
  </div>
  <div class="h-100 d-flex align-items-center">
    <p>
      En resumen, <span>nuestro proyecto TIC-TAPSD</span> puede contribuir a una serie de objetivos de desarrollo sostenible al <span>mejorar
      la salud</span> y <span>el bienestar de las personas</span>, <span>reducir las desigualdades en la atención médica</span>,
      <span>fomentar la innovación y la sostenibilidad</span>, y <span>reducir la huella de carbono de la atención médica</span>.
    </p>
  </div>

</div>





