<div class="container">
  <div class="h-100 d-flex align-items-center justify-content-center">
    <h1 class="sfpro-bold">Desarrollo de la idea</h1>
  </div>
  <p>El concepto del <span>"Cubic Health and Environmental Monitoring System"</span> surgió de la necesidad de crear un <span>dispositivo versátil y móvil</span> que pudiera medir la calidad del aire y los signos vitales en cualquier lugar. 
    <br><br>La idea en sí surgió de la <span>conveniencia y la accesibilidad que ofrecería a los usuarios</span>, permitiéndoles llevar consigo el dispositivo y obtener mediciones en tiempo real en cualquier entorno. 
    <br><br>Gracias a ello se ofrece la <span>flexibilidad</span> necesaria para monitorear estos datos tanto en entornos domésticos como en entornos exteriores, proporcionando una herramienta muy útil para promover un cuidado en nuestra vida y entorno.</p>
  <div class="d-flex justify-content-center align-items-center schema">

    <div class="terminal">
      <div class="xemos"></div>
    </div>
    <div class="human">
    </div>
  </div>

  <div></div>

</div>



