<div class="container">
  <div class="h-100 d-flex align-items-center justify-content-center">
    <h1>¿ Qué necesidad resolvemos ?</h1>
  </div>

  <div class="h-100 d-grid align-items-center">
    <p>El software <span>ha sido desarrollado bajo la licencia GPL3</span> por el departamento de Informática del IES “Valle del Jerte” de Plasencia,
      con la colaboración principal de Fréderic Sánchez, Angel Enrique Pineda y Jesús Redondo.</p>
    <p>El proyecto TIC-TAPSD <span>resuelve la necesidad de brindar formación y prácticas a los alumnos del ciclo formativo de teleasistencia</span>,
      <span>simulando la teleasistencia real</span>. <br>
      <br>También <span>satisface la necesidad de los alumnos de informática de tener un proyecto práctico</span>. <br>
      <br>Además, <span>contribuye a mejorar la formación en teleasistencia y la calidad de la atención a personas vulnerables en sus hogares</span>.
    </p>
  </div>
  <div></div>
</div>

<div class="backIMG">

</div>

