<div class="container">

  <div class="h-100 d-flex align-items-center justify-content-center">
    <h1>XEMOS - AMPLIACION SENSORES</h1>
  </div>

  <div class="h-100 d-grid align-items-center">
    <p>
      Evidentemente el proyecto es <span>ampliable en cuanto al añadido de sensores</span> y se pueden y tenemos pensado añadir <span>pantallas OLED</span>
      para indicar los valores de los sensores no solo en la aplicación, si no a través del propio cubo.
      <br><br>
      No solo esto si no un <span>sistema de encendido y apagado táctil</span>, que evitará periféricos externos en el dispositivo y por ende un acabado más limpio.
    </p>
  </div>
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="activeMode"></div>
    <div class="deepSleep"></div>
  </div>
  <div class="d-flex justify-content-around">
    <p><span>Sensores nuevos</span></p>
    <p><span>Sistema ON / OFF</span></p>
  </div>
</div>





