<div class="container">

  <div class="h-100 d-flex flex-column align-items-center justify-content-center">
    <h1>XEMOS</h1>
    <h5>Cubic Health and Environmental Monitoring System</h5>
  </div>

  <div class="h-100 d-grid align-items-center">
    <p>Introduciendo el dispositivo como <span>"XEMOS"</span>, este cubo de salud y monitoreo ambiental ofrece la solución para evitar malestares y otras complicaciones derivadas de la mala calidad del aire y las fluctuaciones en las pulsaciones. <br><br>
      Con <span>XEMOS</span>, los usuarios pueden llevar consigo un <span>dispositivo compacto y móvil</span> que brinda mediciones en tiempo real pudiendo ver los datos de las lecturas en su <span>app móvil.</span>
    </p>
    <p>La <span>ausencia de medición</span> de la calidad del aire y las pulsaciones puede llevar a problemas como <span>fiebre</span>, <span>dolor de cabeza</span> y <span>enfermedades relacionadas con la exposición a temperaturas extremas</span> o <span>pulsaciones anormales</span>
    </p>
  </div>
  <div class="d-flex justify-content-center align-items-center miniSchema">
    <div class="human1"></div>
    <div class="human2"></div>
    <div class="human3"></div>
    <div class="human4"></div>
  </div>
  <div></div>
</div>

<div class="backIMG">

</div>


