.container{
    width: 100%;
    min-height: 100vh;
    /* Establecer una altura mínima igual a la altura de la ventana del navegador */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(213, 226, 231);
    color: black;
  }
  
  input {
    background-color: whitesmoke;
    border: 0px;
    height: 30px;
  }
  
  .fields {
    display: flex;
    border-bottom: 1px solid black;
  }
  
  .fields i {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    width: 15%;
  }
  
  .fields input {
    width: 85%;
  }
  
  /* Estilo para input válido */
  .fields.is-valid {
    border-color: #28a745;
    /* Color verde */
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  /* Estilo para input inválido */
  .fields.is-invalid {
    border-color: #dc3545;
    /* Color rojo */
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .error-message {
    color: red;
    margin-top: 5px;
    /* Ajusta el margen superior del mensaje de error */
    font-size: 0.8em;
    /* Ajusta el tamaño de fuente del mensaje de error */
  }
  
  .field-container {
    margin-bottom: 15px;
    max-width: 230px;
    /* Añade un espacio entre cada campo de entrada */
  }