<div class="container">

  <div class="h-100 d-flex align-items-center justify-content-center">
    <h1>APP MOVIL - FUNCIONAMIENTO</h1>
  </div>

  <div class="separator">
    <div class="h-100 d-grid align-items-center">
      <p>
        La <span>aplicación</span> XEMOS ofrece una interfaz intuitiva para visualizar los datos en tiempo real de una base de datos JSON creada con Node.js. <br><br>
        Al abrir la aplicación, los usuarios pueden ver un <span>resumen de los datos clave</span>, como temperatura, humedad, calidad del aire y pulsaciones del corazón. 
        <br><br>Además, la aplicación presenta gráficos claros y fáciles de entender que muestran la tendencia de los datos a lo largo del tiempo, permitiendo a los usuarios monitorear eficazmente el entorno y tomar medidas según sea necesario.
    </div>
    <div class="separator-img"><img src="./../../../assets/images/xemos-assets/assets/xemos-app-mockup-3.png"></div>
  </div>
  <div></div>
</div>

<div class="backIMG"></div>

