<div class="container">

  <div class="h-100 d-flex align-items-center justify-content-center">
    <h1>COMUNICACION HTTP</h1>
  </div>

  <div class="h-100 d-grid align-items-center">
    <p>
      La aplicación se comunica con el cubo <span>XEMOS</span> a través de internet usando un método llamado <span>HTTP</span>. 
    </p>

  
  </div>
  <div class="h-100 d-flex align-items-end justify-content-around">
    <img src="../../../assets/images/xemos-assets/assets/schemalIcons/xemos-conecction-6.png">
  </div>

</div>

