<div class="container">

  <div class="h-100 d-flex align-items-center justify-content-center">
    <h1>ConfigApp Angular - Validaciones</h1>
  </div>

  <div class="h-100 d-grid align-items-center">
    <p>
      Teniendo en cuenta ciertas <span>validaciones</span>, se pueden apreciar los <span>posibles errores</span> que mostraría el Login en caso, por ejemplo,
      de <span>no poder contactar con las BBDD local de la terminal</span>, o de <span>introducir unas credenciales inválidas</span>.
    </p>
  </div>
  <div class="h-100 d-flex align-items-center justify-content-around">
    <img src="../../../assets/images/configApp/capp-1.png">
  </div>

</div>

