<div class="container">

  <div class="h-100 d-flex align-items-center justify-content-center">
    <h1>ODS 3 - Salud y Bienestar</h1>
  </div>

  <p>
    Nuestro proyecto no solo cumple con el <span>ODS 3 al promover la salud y el bienestar</span>, sino que también marca un paso adelante en la mejora de la calidad de vida de las personas. <br>Además, contribuye también con los <span>ODSs 7: Energía Asequible y No Contaminante</span> , el <span>9: Industria, Innovación e Infraestructura</span> y el <span>13: Acción por el Clima</span>.
  </p>
  <div class="ods">
    <div class="d-flex align-items-center justify-content-center">
      <img src="../../../assets/images/xemos-assets/assets/schemalIcons/ods3.png">
      <span>ODS 3: Salud y Bienestar</span>
    </div>
    <div class=" d-flex align-items-center justify-content-center">
      <img src="../../../assets/images/xemos-assets/assets/schemalIcons/ods7.png">
      <span>ODS 7: Energía Asequible y No Contaminante</span>
    </div>
    <div class="d-flex align-items-center justify-content-center">
      <img src="../../../assets/images/xemos-assets/assets/schemalIcons/ods9.png">
      <span>ODS 9: Industria, Innovación e Infraestructura</span>
    </div>
    <div class="d-flex align-items-center justify-content-center">
      <img src="../../../assets/images/xemos-assets/assets/schemalIcons/ods13.png">
      <span>ODS 13: Acción por el Clima</span>
    </div>
  </div>

</div>





