<div class="container">
  <div class="h-100 d-flex align-items-center justify-content-center">
    <h1 class="sfpro-bold">Concepto del proyecto</h1>
  </div>

  <div class="h-100 d-grid align-items-center">
    <p>El objetivo de este proyecto es <span>implementar un sistema de medición</span> de la <span>calidad del aire</span>, <span>CO2</span>, <span>temperatura</span>, <span>humedad</span> y <span>pulsaciones del corazón</span> para <span>garantizar entornos saludables</span> y <span>promover la salud y el bienestar de los usuarios</span>, tanto en <span>entornos hospitalarios</span> como <span>domésticos</span>.<br><br>
      Este proyecto está alineado con el <span>Objetivo de Desarrollo Sostenible (ODS) número 3 de las Naciones Unidas</span>, que busca garantizar una vida saludable y promover el bienestar para todos en todas las edades. <br>Al monitorear y mejorar la calidad del aire interior, así como los niveles de CO2, temperatura, humedad y pulsaciones del corazón, <span>contribuimos a la prevención de enfermedades relacionadas con la contaminación del aire y creamos ambientes más saludables para vivir y trabajar</span>.<br><br>
      Además, este proyecto también <span>tiene como objetivo concienciar</span> sobre la importancia de mantener entornos saludables y fomentar hábitos de vida que contribuyan a la salud y el bienestar general de las personas.
    </p>

  </div>

  <div class="d-flex justify-content-center align-items-center schema">
    <div class="tyh"></div>
    <div class="air"></div>
    <div class="heart"></div>
  </div>
</div>

<div class="backIMG">

</div>

