<div class="container">

  <div class="h-100 d-flex align-items-center justify-content-center">
    <h1>CONEXION & POWER ON</h1>
  </div>

  <div class="h-100 d-grid align-items-center">
    <p>
      Configurar este dispositivo es muy fácil, solo necesita conectarse a una red WiFi preestablecida en sus ajustes internos. 
      <br><br>
      Aunque puede parecer simple, para futuras versiones, sería útil crear una página web para configurarlo, donde puedas cambiar la red Wi-Fi y la contraseña.
    </p>
    <p>
      Esto asegura que el dispositivo esté conectado a internet y pueda enviar los datos correctamente.
    </p>

  
  </div>
  <div class="h-100 d-flex align-items-center justify-content-around showFunction">
    <div class="function1"></div>
    <div class="function2"></div>
    <div class="function3"></div>
    <div class="function4"></div>
    <div class="function5"></div>
  </div>

</div>


