<div class="container">

  <div class="h-100 d-flex align-items-center justify-content-center">
    <h1>CONEXION & POWER ON</h1>
  </div>

  <div class="h-100 d-grid align-items-center">
    <p>
      <span>Configurar este dispositivo es muy fácil</span>, solo necesita conectarse a una red Wi-Fi preestablecida en sus ajustes internos. 
      <br><br>
      Esto asegura que el dispositivo esté conectado a internet y pueda enviar los datos correctamente.<br><br>
      El <span>consumo</span> aproximado del cubo es de <span>140-180mA</span>
    </p>
      
    

  
  </div>
  <div class="h-100 d-flex align-items-center justify-content-around showFunction">
    <div class="function1"></div>
    <div class="function2"></div>
    <div class="function3"></div>
    <div class="function4"></div>
    <div class="function5"></div>
  </div>

</div>


