<div class="container">

  <div class="h-100 d-flex align-items-center justify-content-center">
    <h1>XEMOS - LÍNEA FUTURA</h1>
  </div>

  <div class="h-100 d-grid align-items-center">
    <p>
      El proyecto tiene la posibilidad de <span>agregar más sensores.</span>
</p>
<p>
      Además, se planea incluir un <span>sistema táctil de encendido y apagado</span> para una mejor integración y un diseño más limpio.
      <br><br>
      La <span>idea principal</span> sería <span>crear</span> un modelo totalmente móvil,
      el cuál funcionará con un modelo de ESP32 con una arquitectura diferente al que actual usamos,
      el cuál nos ofrece la <span>posibilidad de alimentarlo mediante baterías</span> .
</p>
<p>

</p>

  </div>
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="activeMode"></div>
    <div class="deepSleep"></div>
  </div>
  <div class="d-flex justify-content-around">
    <p><span>Sensores nuevos</span></p>
    <p><span>Sistema ON / OFF</span></p>
  </div>
</div>





