<div class="container">

  <div class="h-100 d-flex align-items-center justify-content-center">
    <h1>XEMOS - AMPLIACION SENSORES</h1>
  </div>

  <div class="h-100 d-grid align-items-center">
    <p>
      El proyecto tiene la posibilidad de <span>agregar más sensores</span>, como <span>pantallas OLED</span> para mostrar los valores de los sensores directamente en el cubo.
</p>
<p>
      Además, se planea incluir un <span>sistema táctil de encendido y apagado</span> para una mejor integración y un diseño más limpio.
</p>

  </div>
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="activeMode"></div>
    <div class="deepSleep"></div>
  </div>
  <div class="d-flex justify-content-around">
    <p><span>Sensores nuevos</span></p>
    <p><span>Sistema ON / OFF</span></p>
  </div>
</div>





