<div class="container">
  <div class="h-100 d-flex align-items-center justify-content-center">
    <h1 class="sfpro-bold">Desarrollo de la idea</h1>
  </div>
  
  <p><span>"Cubic Health and Environmental Monitoring System"</span>: dispositivo versátil y móvil para medir la calidad del aire y signos vitales en cualquier lugar.
    <br><br><span>Conveniencia y accesibilidad:</span> usuarios pueden llevar el dispositivo para obtener mediciones en tiempo real en cualquier entorno.
    <br><br><span>Flexibilidad:</span> monitoreo de datos en entornos domésticos y exteriores, promoviendo el cuidado de la vida y el entorno.
</p>

  <div class="d-flex justify-content-center align-items-center schema">

    <div class="terminal">
      <div class="xemos"></div>
    </div>
    <div class="human">
    </div>
  </div>

  <div></div>

</div>



