<div class="container">

  <div class="h-100 d-flex align-items-center justify-content-center">
    <h1>ConfigApp Angular - Login</h1>
  </div>

  <div class="h-100 d-grid align-items-center">
    <p>
      Se ha creado en <span>Angular</span> la <span>aplicación web de configuración</span>, utilizada para
      <span>poder acceder a la terminal y establecer ciertos parámetros</span>
      que <span>nos permitirán hacer uso de este dispositivo correctamente</span>.
    </p>
  </div>
  <div class="h-100 d-flex align-items-center justify-content-around">
    <img src="../../../assets/images/configApp/capp-0.png">
  </div>

</div>

