<ion-content [fullscreen]="true">
  <div id="container-login">
    <p id="title-login">Welcome !</p>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login_form">
      <label for="email">Email:</label><br>
      <div class="fields">
        <i class="fas fa-user"></i>
        <input formControlName="email" type="email" id="email">
      </div>
      <br>
      <label for="passwd">Password:</label><br>
      <div class="fields">
        <i class="fas" [ngClass]="{'fa-eye-slash': hidePassword, 'fa-eye': !hidePassword}" (click)="togglePasswordVisibility()"></i>
        <input formControlName="password" type="{{ hidePassword ? 'password' : 'text' }}" id="passwd">
      </div>
      <br>
      <!-- Muestra el mensaje de error si existe -->
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
      <div id="btn-login"><button type="submit">Login</button></div>
    </form><br>
    <div class="register-changePassword">
      <div id="register">
        <p>Doesn't have an account yet? <a [routerLink]="['/register']">Register</a></p>
      </div>
      <div id="changePassword">
        <p>Forgot your password? Change it here <a [routerLink]="['/password-confirmation']">Change Password</a></p>
      </div>
    </div>
  </div>
</ion-content>
