<div class="container">

  <div class="h-100 d-flex align-items-center justify-content-center">
    <h1>CONEXION & POWER ON</h1>
  </div>

  <div class="h-100 d-grid align-items-center">
    <p>
      Su arranque es tán sencillo como la conexión a una red Wifi preestablecida en sus ajustes internos.
      <br><br>
      Aunque parezca un <span>sistema poco dinámico</span>, para el siguiente prototipo sería indicado y acertado generar una <span>web de acceso de configuración</span>
      para el dispositivo, para poder <span>acceder a sus valores de configuraciones y setear una SSID y PASS concreta</span>.
    </p>
    <p>
      Con esto conseguimos que el dispositivo tenga <span>acceso a la conexión Wifi</span> y pueda manadar los datos correctamente.
    </p>
  </div>
  <div class="h-100 d-flex align-items-center justify-content-around showFunction">
    <div class="function1"></div>
    <div class="function2"></div>
    <div class="function3"></div>
    <div class="function4"></div>
    <div class="function5"></div>
  </div>

</div>


