<div class="container">
  <main id="main">
    <h1>Statistics</h1>
    <h4>Heart monitor</h4>
    <div class="heart-rate">
      <div class="bpm-rate">
        <i class="fas fa-heart" style="color: red;"></i>
        <span> {{ heartRate }} bpm</span>
      </div>
      <div class="bpm-bar">
        <span class="status-text">{{ getHeartRateStatus(heartRate) }}</span>
        <div class="bpm-barRate">
          <div class="bpm-progress" [style.background]="bpmGradient"></div>
          <div class="bpm-indicator" [style.left]="indicatorPosition"></div>
        </div>
      </div>
    </div>
    <!-- line-chart.component.html -->
    <canvas id="heart-rate" width="400" height="250"></canvas>
    <div class="air-quality">
      <h4>Air quality</h4>
      <canvas id="air-quality" width="280" height="250"></canvas>
    </div>
    <div class="humidity">
      <canvas id="humidity" width="250" height="250"></canvas>
    </div>
    </main>
</div>
