<div class="container">

  <div class="h-100 d-flex align-items-center justify-content-center">
    <h1>- Full Schema -</h1>
  </div>

  <div class="h-100 d-grid schema">

    <div class=""></div>
    <div class=""></div>
    <div class=""></div>
    <div class=""></div>
    <div class=""></div>
    <div class=""></div>
    <div class=""></div>
    <div class="dLine seven"></div>
    <div class="alertButton six"></div>
    <div class="lArrow five"></div>
    <div class="line four"></div>
    <div class="line three"></div>
    <div class="dLineL two"></div>

    <div class=""></div>
    <div class=""></div>
    <div class=""></div>
    <div class=""></div>
    <div class="server twenty-eight"></div>
    <div class="dLineL twenty-seven"></div>
    <div class=""></div>
    <div class="dArrow eight"></div>
    <div class=""></div>
    <div class=""></div>
    <div class=""></div>
    <div class=""></div>
    <div class="lineUp one"></div>

    <div class="teleoperador thirty-two"></div>
    <div class="lArrow thirty-one"></div>
    <div class="web thirty"></div>
    <div class="lArrow twenty-nine"></div>
    <div class="server twenty-eight"></div>
    <div class="bidireccionalArrow twenty-seven"></div>
    <div class="lineHTTP twenty-six"></div>
    <div class="terminal nine fifteen twenty-four">
      <div class="ap fifteen"></div>
      <div class="esp32Connection twenty-five"></div>
    </div>
    <div class="lArrow fourteen"></div>
    <div class="lineHTTP thirteen"></div>
    <div class="esp32 eleven">
      <div class="esp32Connection twelve"></div>
    </div>
    <div class="lArrow ten"></div>
    <div class="paciente zero"></div>

    <div class=""></div>
    <div class=""></div>
    <div class=""></div>
    <div class=""></div>
    <div class="server twenty-eight"></div>
    <div class="uLineL twenty-seven"></div>
    <div class=""></div>
    <div class="uArrow twenty-three"></div>
    <div class=""></div>
    <div class=""></div>
    <div class=""></div>
    <div class=""></div>
    <div class=""></div>

    <div class=""></div>
    <div class=""></div>
    <div class=""></div>
    <div class=""></div>
    <div class=""></div>
    <div class=""></div>
    <div class=""></div>
    <div class="uLine twenty-two"></div>
    <div class="line twenty-one"></div>
    <div class="lineHTTP twenty"></div>
    <div class="line nineteen"></div>
    <div class="esp32 seventeen">
      <div class="esp32Connection eighteen"></div>
    </div>
    <div class="esp32 sixteen">
      <div class="esp32Connection eighteen"></div>
    </div>


  </div>
</div>


