<div class="container">

  <div class="h-100 d-flex align-items-center justify-content-center">
    <h1>XEMOS - PROBLEMAS</h1>
  </div>

  <div class="h-100 d-grid align-items-center">
    <p>
      Han surgido diferentes <span>problemas</span> con nuestro <span>producto</span>: La relación <span>calidad precio</span> de los <span>sensores</span> están bien para nuestro producto, pero ha habido problemas con la <span>precisión</span>.
      <br><br>
      A parte el sensor <span>ENS</span> se <span>sobresatura</span> y tarda <span>una hora</span> en obtener datos correctos, y también los <span>cables</span> como no teniamos los <span>shields</span> no hacían <span>masa</span>.
      <br><br>
      Hacer una carcasa <span>3D</span> que se ajuste a los componentes y todo este configurado correctamente.
    </p>

  </div>
  <div class="d-flex justify-content-center align-items-center h-100">
    <img src="../../../assets/images/xemos-assets/assets/schemalIcons/ens.png">
  </div>
</div>


