<div class="container">

  <div class="h-100 d-flex align-items-center justify-content-center">
    <h1>XEMOS - ESP32 T7 S3</h1>
  </div>

  <div class="h-100 d-grid align-items-center">
    <p>
      El prototipo anterior fue una <span>versión de prueba</span> que todavía necesita ser mejorada para ser <span>completamente móvil</span>.
      <br><br>
      La idea principal es crear un modelo completamente móvil llamado <span>LYLIGO T7 S3</span>, que funcionará con una tecnología diferente que nos permitirá alimentarlo con baterías.
    </p>

  </div>
  <div class="d-flex justify-content-center align-items-center h-100">
    <img src="../../../assets/images/xemos-assets/assets/schemalIcons/esp32logo.png">
    <img src="../../../assets/images/xemos-assets/assets/schemalIcons/battery.png">
  </div>
</div>


