
<div class="container">
  <div class="h-100 d-flex align-items-center justify-content-center">
    <h1>XEMOS - ESP32</h1>
  </div>
  <div class="h-100 d-grid align-items-center">
    <p>
      Haremos uso de un <span>ESP32</span> como <span>núcleo de nuestro cubo</span>.
    </p>
    <p>
      El ESP32 <span>es un microcontrolador</span> económico y de bajo consumo con Wi-Fi y Bluetooth integrados.
      <br>
      Es ampliamente utilizado en <span>proyectos de IoT</span> y aplicaciones inalámbricas debido a su potencia de procesamiento y versatilidad.
      <br>
      Es fácil de programar y compatible con diferentes entornos de desarrollo.
    </p>
  </div>
  <div class="w-100 d-flex justify-content-center">
    <canvas id="canvas-box" ></canvas>
  </div>

</div>




