<div id="container">
    <div id="main">
      <strong>Devices</strong>
      <p>In this page, you can see the available dispositives.<br><br>
      For now, show only the wifi name of you phone and an empty list.</p>
      <div *ngIf="wifiName !== ''">
        <p>WiFi Name: {{ wifiName }}</p>
      </div>
      <div *ngIf="wifiName === ''">
        <p>No WiFi connection available</p>
      </div>
    </div>
    <div id="footer">
      <span class="material-symbols-outlined" style="color: #ffffff; font-size: 40px;">
        hexagon
        </span>
        <a [routerLink]="['/home']"><span class="material-symbols-outlined" style="color: #7a7a7a; font-size: 65px;">
          hexagon
          </span></a>
          <a [routerLink]="['/profile']"><i class="fa-regular fa-user" style="color: #7a7a7a; font-size: 40px;" ></i></a>
  
    </div>
</div>