<ion-content [fullscreen]="true">
  <div id="container-register">
    <p id="title-register">Who are you ?</p>
    <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
      <label for="fullName">Full Name:</label><br>
      <div class="fields">
        <i class="fas fa-user" style="color: #424242;"></i>
        <input formControlName="fullName" type="text" id="fullName">
      </div>
      <label for="email">Email:</label><br>
      <div class="fields">
        <i class="fa-solid fa-envelope" style="color: #424242;"></i>
        <input formControlName="email" type="email" id="email">
      </div>
      <label for="passwd">Password:</label><br>
      <div class="fields">
        <i class="fas" [ngClass]="{'fa-eye-slash': hidePassword, 'fa-eye': !hidePassword}" (click)="togglePasswordVisibility()" style="color: #424242;"></i>
        <input formControlName="password" type="{{ hidePassword ? 'password' : 'text' }}" id="passwd">
      </div>
      <label for="confirmPasswd">Confirm Password:</label><br>
      <div class="fields">
        <i class="fas" [ngClass]="{'fa-eye-slash': hidePassword, 'fa-eye': !hidePassword}" (click)="togglePasswordVisibility()" style="color: #424242;"></i>
        <input formControlName="confirmPassword" type="{{ hidePassword ? 'password' : 'text' }}" id="confirmPasswd">
      </div>
      <br>
      <div *ngIf="registroForm.controls['fullName'].touched && registroForm.controls['fullName'].errors?.['required']" class="error-message">
        Full Name is required
      </div>
      <div *ngIf="registroForm.controls['email'].touched && registroForm.controls['email'].errors?.['required']" class="error-message">
        Email is required
      </div>
      <div *ngIf="registroForm.controls['email'].touched && registroForm.controls['email'].errors?.['email']" class="error-message">
        Please enter a valid email address
      </div>
      <div *ngIf="registroForm.controls['password'].touched && registroForm.controls['password'].errors?.['required']" class="error-message">
        Password is required
      </div>
      <div *ngIf="registroForm.controls['password'].touched && registroForm.controls['password'].errors?.['required']" class="error-message">
        Password must be at least 8 characters long
      </div>
      <!-- Muestra el mensaje de error si existe -->
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
      <div id="btn-register"><button type="submit">Register</button></div>
    </form>
    <div id="login">
      <p>Already have an account? <a [routerLink]="['/login']">Login</a></p>
    </div>
  </div>
</ion-content>
