<div class="container">
  <div class="h-100 d-flex align-items-center justify-content-center">
    <h1 class="sfpro-bold">Concepto del proyecto</h1>
  </div>

  <div class="h-100 d-grid align-items-center">
    <p><span>Implementar un sistema de medición</span> de la calidad del aire, CO2, temperatura, humedad y pulsaciones del corazón.<br><br>
      <span>Garantizar entornos saludables</span> y promover la salud y el bienestar de los usuarios.<br><br>
      <span>Contribuir a la prevención</span> de enfermedades relacionadas con la contaminación del aire y al cumplimiento del <span>Objetivo de Desarrollo Sostenible (ODS) número 3 de las Naciones Unidas</span>.<br><br>
      <span>Crear ambientes más saludables</span> para vivir y trabajar.<br><br>
      <span>Concienciar sobre la importancia</span> de mantener entornos saludables.<br><br>
      <span>Fomentar hábitos de vida</span> que contribuyan a la salud y el bienestar general de las personas.</p>

      

  </div>

  <div class="d-flex justify-content-center align-items-center schema">
    <div class="tyh"></div>
    <div class="air"></div>
    <div class="heart"></div>
  </div>
</div>

<div class="backIMG">

</div>

