.fondo {
  background-color: #d5e2e7;
}

#footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 15vh;
    width: 100vw;
    background-color: rgb(32, 32, 32);
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    z-index: 1000;
  }

  i, span{
    color: gray;
  }

  .selected {
    color: white !important; /* Cambia el color del ícono seleccionado a blanco */
  }
  