<div class="fondo">
  <footer id="footer">
    <a routerLink="/app/list-devices">
      <i class="fa-solid fa-cube" style="color: #b3b3b3;" style="font-size: 35px;" routerLinkActive="selected"></i>
    </a>
    <a routerLink="/app/home">
      <i class="fa-solid fa-home" style="color: #b3b3b3;" style="font-size: 35px;" routerLinkActive="selected"></i>
    </a>
    <a routerLink="/app/emergency">
      <i class="fa-regular fa-hospital" style="color: #b3b3b3;" style="font-size: 35px;" routerLinkActive="selected"></i>
    </a>
    <a routerLink="/app/profile" >
      <i class="fa-solid fa-user" style="color: #b3b3b3;" style="font-size: 35px;" routerLinkActive="selected"></i>
    </a>
  </footer>
</div>
