<div class="container">

  <div class="h-100 d-flex align-items-center justify-content-center">
    <h1>XEMOS - SENSORES</h1>
  </div>

  <div class="h-100 d-grid align-items-center">
    <p>
      XEMOS emplea sensores <span>ENS160 + AHT21</span> para medir la calidad del aire, temperatura y humedad, junto con un <span>sensor de pulso cardíaco</span> para monitorear las pulsaciones del usuario, así como un <span>multiplexor del bus I2C</span>. <br><br>
    </p>
  </div>
  <div class="h-100 d-flex align-items-center justify-content-around">
    <img src="../../../assets/images/xemos-assets/assets/schemalIcons/ens.png">
    <img src="../../../assets/images/xemos-assets/assets/schemalIcons/multi.png">
    <img src="../../../assets/images/xemos-assets/assets/schemalIcons/heartsensor.png">
  </div>

</div>




